
<div class="container" ng-controller="placeOrderCtrl">
    <div>
        <h4>Add items into Cart</h4>
    </div>
    <table class="table table-bordered col-md-9 col-md-offset-3">
        <thead class="thead-dark">
            <tr>
                <th>Product Name</th>
                <th>Qty Per Unit</th>
                <th>Unit Price</th>
                <th>Order Qty</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <select ng-model="selectedProduct"
                            ng-change="ProductChange()"
                            ng-options="option.ProductName for option in Products"></select>
                </td>
                <td>{{selectedProduct.QuantityPerUnit}}</td>
                <td>{{selectedProduct.UnitPrice|currency}}</td>
                <td><input type="number" class="qty" ng-model="selectedProduct.qty" /></td>
                <td>{{selectedProduct.qty * selectedProduct.UnitPrice | currency }}</td>
                <td>
                    <button type="button" class="btn-primary" ng-click="addItem(selectedProduct)">Add to Cart</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <button type="button" class="btn-primary" data-toggle="modal" data-target="#myModal">View Cart</button>
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Your Shopping Cart</h4>
                    </div>
                    <div class="modal-body">
                        <table ng-show="cart.length>0" class="table table-bordered col-md-9 col-md-offset-3">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Product Name</th>
                                    <th>Qty Per Unit</th>
                                    <th>Unit Price</th>
                                    <th>Order Qty</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="product in cart">
                                    <td>
                                        {{product.ProductName}}
                                    </td>
                                    <td>{{product.QuantityPerUnit}}</td>
                                    <td>{{product.UnitPrice|currency}}</td>
                                    <td>{{product.qty}}</td>
                                    <td>{{product.qty * product.UnitPrice | currency }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <h6 ng-show="cart.length==0">Your shopping cart is empty!</h6>
                        <h5 ng-show="cart.length>0">Total Price = {{TotalPrice|currency}}</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <h4>Shipping Details</h4>
    <form name="shippingForm" novalidate>
        <table>
            <tr>
                <td><label>Required Date</label></td>
                <td><input required type="date" ng-model="requiredDate" /></td>
            </tr>
            <tr>
                <td><label>Name</label></td>
                <td><input type="text" required ng-model="customerName" ng-minlength="3" ng-maxlength="15" name="Name" /></td>

            </tr>
            <tr>
                <td><label>Address</label></td>
                <td><input required ng-model="address" ng-minlength="5" ng-maxlength="30" type="text" name="Address" /></td>
            </tr>
            <tr>
                <td><label>City</label></td>
                <td><input required ng-model="city" ng-minlength="3" ng-maxlength="15" type="text" name="City" /></td>
            </tr>
            <tr>
                <td><label>Postal Code</label></td>
                <td><input required ng-model="postalCode" type="number" name="Postal Code" /></td>
            </tr>
            <tr>
                <td><label>Country</label></td>
                <td><input required ng-model="country" type="text" name="Country" /></td>
            </tr>
            <tr>
                <td><button class="btn-secondary">Clear</button></td>
                <td><button type="submit" class="btn-primary" ng-click="SubmitOrder()">Submit</button></td>
            </tr>
        </table>
    </form>
</div>