<div ng-controller="productsStoreCtrl">    

    <div>
        <table id="table" class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">
                        <div>PartNumber</div>
                        <div><select ng-model="selectedPartNumber"
        ng-change="partNumberChange(selectedPartNumber)"
        ng-options="partNumber for partNumber in PartNumbers"></select></div>

                    </th>
                    <th scope="col">
                        <div>Product Category</div>
                        <div>
                            <select ng-model="selectedCategory"
                                    ng-change="categoryChange(selectedCategory)"
                                    ng-options="category for category in Categories"></select>
                        </div>
                    </th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Quantity Per Unit</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Ordered Quantity</th>
                    <th scope="col">Total Price</th>                    
                    <th scope="col">Available</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in paginatedProducts">
                    <th scope="row">{{product.PartNumber}}</th>
                    <td scope="row">{{product.CategoryName}}</td>
                    <td scope="row">{{product.ProductName}}</td>
                    <td scope="row">{{product.QuantityPerUnit}}</td>
                    <td scope="row">{{product.UnitPrice}}</td>
                    <td scope="row">{{product.OrderedQuantity}}</td>
                    <td scope="row">{{product.TotalPrice}}</td>
                    <td scope="row">{{product.Available}}</td>                    
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <uib-pagination ng-model="currentPage" total-items="Products.length" max-size="maxSize" items-per-page="numPerPage" boundary-links="true"></uib-pagination>
    </div>
</div>